%footer.footer
  .row
    .small-12.medium-6.medium-push-6.columns
      .row
        .medium-9.medium-push-3.columns
          %p.find-me Contact me on Facebook, Twitter, LinkedIn or GitHub
          %ul.inline-list.social
            %a{href: "//www.facebook.com/Qualcosaltro"}
              %i.fi-social-facebook
            %a{href: "//twitter.com/LuciaDeMoja"}
              %i.fi-social-twitter
            %a{href: "//se.linkedin.com/in/lucia-de-mojà-b202aa4b/en"}
              %i.fi-social-linkedin
            %a{href: "//github.com/luciademoja"}
              %i.fi-social-github

    .small-12.medium-6.medium-pull-6.columns
      %p.footer-links
        %a{href: "index.html"} Home
        %a{href: "about_me.html"} About Me
        %a{href: "my_portfolio.html"} My Portfolio
        %a{href: "blog.html"} Blog
      %p.copyright Copyright Lucia De Mojà © 2016
