.welcome
  %h1 Welcome to my page!
  %h5 Take a look around and read about me, my work, my past and present!
  %br
  %img{src: 'https://scontent.xx.fbcdn.net/v/t31.0-8/15723619_1335051199893130_3247829015856147205_o.jpg?oh=5aced4e74d58b0a564251182341c6f26&oe=594BBB49', height:100, width:400}
  %br
  %h2 Lucia De Mojà
  %h3 Junior Web Developer
