.welcome
  %h1 Welcome to my page!
  %h5 Take a look around and read about me, my work, my past and present!
  %br
  %img{src: 'https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/13445427_1146698208728431_1412417200700029778_n.jpg?oh=dfe4ed8692b74a2b388f98a7ee03edea&oe=58950DED', height:100, width:400}
  %br
  %h2 Lucia De Mojà
  %h3 Junior Web Developer
